dl,
ol,
ul {
    margin: 0 !important;
}

ol,
ul {
    padding-left: 0 !important;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0;
}

.header {
    background-color: #fff;
    height: var(--height-header);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.nav-categories .active {
    border-bottom: 1px solid #000;
}

.header-with-search {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.header__logo {
    width: 50px;
}

.header__logo a img {
    width: 50px;
}

.header__search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__search input[type='text'] {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--white-color);
    border-right: unset;
    height: 100%;
    padding: 0 0 0 24px;
    font-size: 14px;
}

.header__search input[type='text']:focus-visible {
    outline: unset;
}

.header__search button {
    width: 10%;
    border: 1px solid var(--white-color);
    border-left: unset;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--white-color);
}

.header__search_product__item {
    display: flex;
    gap: 12px;
    color: #111111;
    width: 80%;
    margin-bottom: 12px;
}

.header__search_product__item:hover {
    background-color: #f5f5f5 !important;
    border-radius: 5px;
}

.item__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
}

.item__detail__name {
    /* width: 80%; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    /* line-height: 1.6rem; */
}

.header__search__list__item {
    padding: 24px;
    background-color: #fff;
    width: 100%;
    min-height: 70px;
    z-index: 10;
    position: absolute;
    top: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__image {
    width: 70px;
    height: 90px;
}

.header__register {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.header__register-item {
    cursor: pointer;
    position: relative;
}

.header-nav__icon {
    padding: 12px !important;
    position: relative;
}

.header-icons {
    font-size: 20px !important;
    color: var(--black-color);
}

.cart-total__quantity {
    padding: 2px 7px;
    background: #fff;
    border-radius: 50%;
    font-size: 9px;
    position: absolute;
    top: 0;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    right: 0;
    border: 1px solid #ccc;
}


.register__title {
    display: none;
    position: absolute;
    top: 75%;
    right: -25px;
    min-width: 200px;
    padding: 6px 0;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}

.header__register-item:hover .register__title {
    display: block;
}

.register__title a {
    padding: 7px 0 !important;
    display: block;
    font-size: 0.9rem;
    color: #666 !important;
    font-weight: 500;
}

.register__title a:hover {
    color: #292929 !important;
}

.header__cart-item {
    align-self: center;
}

.cart__icon a img {
    width: 100%;
    height: 100%;
}

/* ============= Cart mini ============== */


/* ============= End Cart mini ============== */

.header-with-menu {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-with-menu ul li {
    padding: 0 24px;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-categories__li {
    position: relative;
}

/* .header-with-menu ul .nav-categories__li:hover {
} */

/* .header-with-menu ul li:hover .navbar-item__a {
    font-weight: 600;
} */

.header-with-menu ul li .navbar-item__a {
    font-size: 14px !important;
    color: var(--black-color);
    text-decoration: none !important;
    font-weight: 500;
    text-transform: capitalize;
}

.header-with-menu ul .active .navbar-item__a {
    color: red;
    font-weight: 600;

}

.cart-modal-overlay {
    position: absolute;
    display: none;
}

.header__cart-item:hover .cart-modal-overlay {
    display: block;
}

.cart-modal-overlay {
    right: 0;
    min-width: 360px;
    background-color: #fff;
    z-index: 2;
    transform: translateX(0%);
    transition: 0.5s ease-out;
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cart-is-empty {
    text-align: center;
    padding: 12px 0;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.cart-total {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    font-size: 16px;
}

.menu-child {
    position: relative;
}

.menu-child:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.menu-child:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    min-width: 250px;
    top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 0;
    z-index: 9999;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sub-menu__li {
    display: block !important;
    padding: 12px 0 !important;
}

.sub-menu__li:hover {
    background-color: #e8ebed !important;
}

.sub-menu__li:hover .sub-menu__a {
    transition: all 0.25s;
    color: #02bbff !important;
}


.purchase-btn {
    font-size: 15px;
    color: #e53637;
    font-weight: 700;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    display: block;
    padding: 12px 0;
    text-align: center;
}

.purchase-btn::after {
    content: "\f061 ";
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: 700;
    color: #e53637;
    position: absolute;
    right: 110px;
    bottom: 15px;
    line-height: 20px;
}

.user_menu {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}

.user_menu_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user_menu_info {
    margin-left: 12px;
    color: #1d2129;
}

.user_menu_name {
    color: #292929;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.user_menu_email {
    color: #757575;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
    max-width: 1250px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
    text-transform: capitalize;
}

.nav-categories {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.navbar {
    position: relative;
}

.nav-item {
    display: none;
    padding: 6px 0 !important;
    position: absolute;
    min-width: 180px;
    top: var(--height-header);
    text-align: left;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s;
    width: 115%;
    left: 0;
    z-index: 9999;
}

.nav-item__li__a {
    color: #111111;
    font-weight: 500;
}

.nav-item__li {
    width: 100%;
    display: block;
    padding: 10px 15px !important
}

.nav-categories__li:hover .nav-item {
    display: block;
}

.nav-item__li:hover {
    background-color: #fff !important;
}

.nav-item__li:hover .nav-item__li__a {
    color: #ed1d24 !important;
}

.nav-item__products {
    width: 300px !important;
}

.header_input_search {
    width: 95%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-46%);
    height: var(--height-header);
    background-color: var(--white-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: opacity, transform;
    -webkit-animation: ToptoBot 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: ToptoBot 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes ToptoBot {
    0% {
        top: -100%;
        opacity: 0;
    }

    40% {
        top: -50%;
        opacity: 0.5;
        z-index: 999;
    }

    100% {
        top: 0%;
        opacity: 1;
        z-index: 999;
    }
}


.header_input_search__box {
    width: 40%;
    position: relative;
}

.input__search {
    width: 100%;
    line-height: 35px;
    padding: 0 55px 0 12px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #988a8a;
}

.header_input_search_icon {
    position: absolute;
    right: 1px;
    padding: 8px 12px;
    background: #111111;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.input__search:focus {
    border: 1px solid #988a8a;
}

.header_input_search__close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
