dl,
ol,
ul {
    margin: 0 !important;
}

ol,
ul {
    padding-left: 0 !important;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0;
}

.header {
    background-color: #02bbff;
    height: 25%;
    width: 100%;
    /* display: table;
  position: fixed; */
    /* width: 100%; */
}

.header-with-search {
    padding: 12px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    width: 15%;
}

.header__logo a img {
    width: 80%;
    height: 80%;
}

.header__search {
    display: flex;
    align-items: center;
    height: 42px;
    width: 40%;
    position: relative;
}

.header__search input[type='text'] {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--white-color);
    border-right: unset;
    height: 100%;
    padding: 0 0 0 24px;
    font-size: 14px;
}

.header__search input[type='text']:focus-visible {
    outline: unset;
}

.header__search button {
    width: 10%;
    border: 1px solid var(--white-color);
    border-left: unset;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--white-color);
}

.header__search_product__item {
    display: flex;
    gap: 12px;
    color: #111111;
    width: 80%;
    margin-bottom: 12px;
}

.header__search_product__item:hover {
    background-color: #f5f5f5 !important;
    border-radius: 5px;
}

.item__detail {
    width: 80%;
}

.item__detail__name {
    /* width: 80%; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    /* line-height: 1.6rem; */
}

.header__search__list__item {
    padding: 24px;
    background-color: #fff;
    width: 100%;
    min-height: 70px;
    z-index: 10;
    position: absolute;
    top: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__image {
    width: 70px;
    height: 90px;
}

.item__detail {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.header__register {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.header__register-item {
    cursor: pointer;
    position: relative;
}

.header-nav__icon {
    padding: 12px !important;
    position: relative;
}

.header-icons {
    font-size: 24px !important;
    color: var(--white-color);
}

.cart-total__quantity {
    padding: 2px 7px;
    background: #fff;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 0;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    right: 0;
    border: 1px solid #ccc;
}


.register__title {
    display: none;
    position: absolute;
    top: 75%;
    right: -25px;
    min-width: 200px;
    padding: 6px 0;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}

.header__register-item:hover .register__title {
    display: block;
}

.register__title a {
    padding: 10px 12px !important;
    display: block;
    font-size: 16px;
    color: var(--black-color);
    font-weight: 500;
}

.register__title a:hover {
    color: var(--main-color);
    background-color: #e8ebed;
}

.header__cart-item {
    align-self: center;
}

.cart__icon a img {
    width: 100%;
    height: 100%;
}

/* ============= Cart mini ============== */


/* ============= End Cart mini ============== */

.header-with-menu {
    text-align: center;
    background-color: var(--white-color);
    padding: 6px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-with-menu ul li {
    display: inline-block;
    padding: 10px 12px;
}

.header-with-menu ul li a {
    font-size: 15px !important;
    color: var(--black-color);
    text-decoration: none !important;
}

.header-with-menu ul .active a {
    color: red;
    font-weight: 600;

}

.cart-modal-overlay {
    position: absolute;
    display: none;
}

.header__cart-item:hover .cart-modal-overlay {
    display: block;
}

.cart-modal-overlay {
    right: 0;
    min-width: 360px;
    background-color: #fff;
    z-index: 2;
    transform: translateX(0%);
    transition: 0.5s ease-out;
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cart-is-empty {
    text-align: center;
    padding: 12px 0;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.cart-total {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    font-size: 16px;
}

.menu-child {
    position: relative;
}

.menu-child:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.menu-child:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    min-width: 250px;
    top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 0;
    z-index: 9999;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sub-menu__li {
    display: block !important;
    padding: 12px 0 !important;
}

.sub-menu__li:hover {
    background-color: #e8ebed !important;
}

.sub-menu__li:hover .sub-menu__a {
    transition: all 0.25s;
    color: #02bbff !important;
}


.purchase-btn {
    font-size: 15px;
    color: #e53637;
    font-weight: 700;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    display: block;
    padding: 12px 0;
    text-align: center;
}

.purchase-btn::after {
    content: "\f061 ";
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: 700;
    color: #e53637;
    position: absolute;
    right: 110px;
    bottom: 15px;
    line-height: 20px;
}
