.banner {
    width: 100% !important;
}

.banner img {
    width: 100%;
}

.product-list {
    margin: 14px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: revert;
}

.swiper-wrapper .item-child {
    width: 17% !important;
}

.home__title,
.product__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.home__title .home__title__text,
.product__title .product__title__text {
    color: #b7b7b7;
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-right: 88px;
    cursor: pointer;
    transition: all 0.5s;
}

.home__title .active,
.product__title .active {
    color: #111111 !important;
}
