* {
    font-family: "Roboto", sans-serif;
}

.icon {
    width: 10px;
    margin-top: 10px;
    margin-left: auto;
    padding-right: 20px;
}

.icon-tab i {
    font-size: 30px;
    color: #000000;
}

.img-banner {
    width: 330px;
    height: 100%;
    background-size: 330px 100%;
    background-position: center;
    background-repeat: no-repeat;
}



.no-acc {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    font-weight: 400;
    font-style: italic;
}

.pl-register-acc {
    color: #fc8c2c;
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    padding-left: 6px;
}

/* style inputs and link buttons */

.btn-fb {
    max-width: 225px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
    color: white;
    background: #3a5897;
}

.nav-item {
    font-size: 20px;
}

.nav-link.active {
    color: #68beff !important;
    background: none !important;

}

.nav-link {
    color: #000000 !important;
}

.ic-rq {
    color: red;
    padding-left: 10px;
}

.dp-flex {
    display: flex;
}

.btn-register-acc {
    width: 100%;
    padding: 20px;
    background: #68beff !important;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
}

.btn-register-acc:hover {
    color: #fff;
    border: 2px solid rgb(103, 170, 225);
}
