

.product {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 18px 0;
    flex-wrap: wrap;
    padding: 0 6px;
    gap: 12px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.ctr-btn.pre {
    left: 0;
}

.ctr-btn.next {
    right: 0;
}

#slider #slide:not(:last-child) {
    margin-right: 100px;
}

.ctr-btn {
    display: none;
    font-size: 1vw;
    padding: 20px 20px;
    min-width: 50px;
    background: var(--black-color);
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    color: var(--white-color);
    border-radius: 100%;
}



/* ============================== Products ========================== */


.item-body {
    display: flex;
    justify-items: center;
    grid-template-rows: 55%;
    align-items: center;
    gap: 0 28px;
    width: 100%;
}

.item-body .product-item {
    min-width: 18% !important;
}

.title,
.price-group {
    padding: 10px;
}

.product-item {
    /* padding: 10px; */
    border: none;
    width: 18% ;
    display: flex;
}

.item {
    position: relative;
    width: 100%;
}

.item .image {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.item .image img {
    width: 150px !important;
    height: 215px !important;
}

a {
    color: #505050;
    text-decoration: none;
    background-color: transparent;
}

.title {
    min-height: 40px;
}

.item .title a h3 {
    text-transform: capitalize;
    color: #505050;
    font-weight: 600;
    font-size: 16px;
    min-height: 16px;
    line-height: 1.2;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item .title:hover a h3 {
    color: #02bbff;
}

.price-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-group .old-price {
    color: #505050;
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 12px;
    text-decoration-line: line-through;
}

.price-group .price {
    font-weight: bold;
    color: #d71a00;
    font-size: 20px;
}

.button-like i {
    font-size: 20px;
    cursor: pointer;
}

.like-heart {
    color: red;
}

.product-item:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.item:hover .button-buy-now {
    opacity: 1;
    bottom: 0;
    width: 100%;
}

.item .button-buy-now {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    background: #d71a00;
    border: 1px solid #d71a00;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/* ============================== End Product ========================== */

.item-name h4 {
    font-size: 1.4vw;
}

.item-author a {
    font-size: 0.8vw;
    color: var(--main-color);
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount span {
    color: grey;
    font-size: 0.8vw;
    margin-right: 5px;
    text-decoration: line-through;
}

.discount p {
    margin-top: 0;
    font-size: 0.9vw;
}

.item-child:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s;
}

.banner {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 6px;
    border-radius: 10px;
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


