

.product {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 18px 0;
    flex-wrap: wrap;
    padding: 0 6px;
    gap: 12px;
}

.ctr-btn.pre {
    left: 0;
}

.ctr-btn.next {
    right: 0;
}

.item-body {
    display: flex;
    justify-items: center;
    grid-template-rows: 55%;
    align-items: center;
    gap: 0 18px;
    width: 100%;
}

#slider #slide:not(:last-child) {
    margin-right: 100px;
}

.ctr-btn {
    display: none;
    font-size: 1vw;
    padding: 20px 20px;
    min-width: 50px;
    background: var(--black-color);
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    color: var(--white-color);
    border-radius: 100%;
}

.fa-chevron-right {
    right: 0;
}

.fa-chevron-left {
    left: 0;
}

.item-child {
    text-align: center;
    padding: 24px 12px;
    min-width: 19% !important;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #f1e6e6;
}

.item-img {
    width: 215px !important;
    height: 280px !important;
    margin-left: auto;
    margin-right: auto;
}

.item-img img {
    /* width: 100%;
    height: 100%; */
    width: 215px !important;
    height: 280px !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item-child div:not(:first-child) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 6%;
    margin-top: 10px;
}

.item-name h4 {
    font-size: 1.4vw;
}

.item-author a {
    font-size: 0.8vw;
    color: var(--main-color);
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount span {
    color: grey;
    font-size: 0.8vw;
    margin-right: 5px;
    text-decoration: line-through;
}

.discount p {
    margin-top: 0;
    font-size: 0.9vw;
}

.item-child:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s;
}

.banner {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 6px;
    border-radius: 10px;
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

