.item-child {
    text-align: center;
    padding: 12px 10px;
    width: 18.5% !important;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #f1e6e6;
}

.item-body {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0 18px;
    width: 100%;
}

.sale {
    background-image: url(https://book365.vn/bitrix/templates/book365-2021/images/background_sale_ebook.png);
    background-repeat: no-repeat;
    width: 2.93vw;
    padding-top: 1.39vw;
    font-size: 1.1vw;
    line-height: 0.59vw;
    color: #ff0000;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    right: 2%;
    background-size: contain !important;
    top: 2%;
    height: 3.44vw;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.item-img {
    cursor: pointer;
    position: relative;
}

.item-img img {
    width: 100%;
    height: 280.025px;
}

.item-name,
.item-author,
.item-price {
    text-align: initial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 6px 0;
}

.item-name .product_name {
    display: -webkit-box;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.9rem;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
}

.item-author a {
    font-size: 17px;
    color: var(--main-color);
    text-transform: capitalize;
}

.discount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discount p {
    color: #f05123;
    font-size: 1.7rem;
    margin-right: 12px;
}

.discount span {
    font-size: 1.4rem;
    text-decoration: line-through;
}

.btn {
    padding: 12px 24px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.add-to__cart {
    opacity: 0;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    transform: translateX(25%);
    background-color: #fff;
    cursor: pointer;
}

.item-img:hover .add-to__cart {
    bottom: 25px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    width: auto;
}
