.paddAllPage {
    padding: 30px 24px 50px 24px;
}

.title .paddAllPage__title__h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 40px;
    box-sizing: border-box;
    margin: 0px 0px 10px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-family: Montserrat-Regular;
    font-size: 1.3rem;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-style: initial;
    text-decoration-color: initial;
}

p {
    box-sizing: border-box;
    margin: 0px 0px 10px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-family: Montserrat-Regular;
    font-size: 1.1rem;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: left;
}
