.shop__sidebar {
    padding-right: 20px;
}

.shop__sidebar__search {
    margin-bottom: 45px;
}

.shop__sidebar__search form {
    position: relative;
}

.shop__sidebar__search form input {
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    height: 42px;
}

.shop__sidebar__search form button {
    color: #b7b7b7;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    padding: 0 15px;
    top: 0;
    height: 100%;
}

.shop__sidebar__accordion .card {
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
}

.shop__sidebar__accordion .card-heading {
    cursor: pointer;
}

.shop__sidebar__accordion .card-heading a {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.shop__sidebar__accordion .card-body {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.shop__sidebar__categories ul,
.shop__sidebar__price ul,
.shop__sidebar__brand ul {
    height: 225px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.shop__sidebar__categories ul li,
.shop__sidebar__price ul li,
.shop__sidebar__brand ul li {
    list-style: none !important;
}


.shop__sidebar__categories ul li a,
.shop__sidebar__price ul li a,
.shop__sidebar__brand ul li a {
    color: #b7b7b7;
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    text-decoration: none;
}

.shop__sidebar__categories ul li:hover a {
    color: #212529;
}

.shop__sidebar__accordion .card-heading a:after,
.shop__sidebar__accordion .card-heading>a.active[aria-expanded=false]:after {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: 700;
    color: #111111;
    position: absolute;
    right: 0;
    top: 2px;
    line-height: 20px;
}

.query__shop__products__select {
    padding: 4px 6px;
    border-radius: 5px;
}

.shop__product__option {
    margin-bottom: 45px;
}

.shop__product__option p {
    color: #111111;
    margin-bottom: 0;
}

.shop__product__option__right {
    text-align: right;
}

.shop__product__option__right p {
    display: inline-block;
    margin-bottom: 0;
}

.shop__product__option__left {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.shop__product__option__left span {
    font-size: 12px;
    color: #8392a5;
    border-radius: 4px;
    border: solid 1px #b4bdce;
    margin: 0 !important;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
}

.shop__product__option__left span i {
    font-size: 13px;
    color: #111111;
    font-weight: 600;
    margin-left: 6px;
}

.shop__product__option__left span:hover {
    color: #111111;
    font-weight: 600;
    border: solid 1px #111111;
}

.shop__product__option__left span:hover i {
    transform: scale(1.2);
}


/* =========================== pagination ========================= */
.product__pagination {
    padding-top: 25px;
    text-align: center;
}

.product__pagination a.active {
    border-color: #111111;
}

.product__pagination .product__pagination__links {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.product__pagination a:hover {
    border-color: #111111;
}
