body {
    background-color: #F3F3F3;
}

.carts-detail {
    padding: 1rem;
    color: #333;
    border-radius: 5px;
    background-color: #fff;
}

tr,
th,
td {
    border-style: none;
    font-weight: 700;
    font-size: 15px;
    color: #1D1D1F !important;
    min-height: 0px;
    vertical-align: middle;
    text-align: center;
    padding: 12px !important;
}

.input-group>.form-control {
    flex: none !important;
}

a {
    font-weight: bold;
    color: #444 !important;
    text-decoration: none !important;
}

.fa-solid {
    cursor: pointer;
    font-size: 20px;
}

.detail-image {
    width: 100%;
    /* padding: 12px; */
}

.detail_img {
    width: 80px;
    height: 80px;
}

/*  */
.sidebar-cart {
    position: sticky !important;
    /* top: 72px; */
    margin: 0 -12px !important;
    background-color: #fff !important;
    border-radius: 5px;
}

input {
    background-color: #fff !important;
}

.cart-collaterals_detail {
    width: 100%;
    margin: 0;
    padding: 24px 0;
    font-size: 16px;
}

.discount-code {
    max-width: 100%;
    margin: 0;
    padding: 0 6px;
    justify-content: center;
}

.discount-code_input {
    width: 70% !important;
    line-height: 32px;
    font-size: 16px;
}

.discount-code_btn {
    top: 0;
    right: 0;
    line-height: 32px;
    font-size: 16px;
}

.checkout-button {
    width: 100% !important;
    border-radius: 8px;
    height: 44px;
    font-size: 14px;
    color: #fff !important;
    line-height: 30px !important;
}


/* =============================================  END =============================================*/


/* =============================================  slick-list =============================================*/
.slick-list {
    padding: 0 !important;
}

.slick-list_img {
    width: 100%;
    border-radius: 5px;
}

/* =============================================  END =============================================*/

/* =============================================  Thông tin thanh toán =============================================*/
.cart-totals {
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 0 16px 16px;
    display: inline-block;
}

.cart-total td:first-child {
    text-align: left;
}

.cart-total-left {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #86868B;
}

.cart-total-right {
    font-weight: bold !important;
    color: #1d1d1f;
    font-weight: 700;
}

.value-summary {
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1f;
}

.cart-total td {
    /* width: 50%; */
    padding: 5px 0;
    text-align: right;
}

.checkout-buttons {
    padding: 0 10px;
}

/* =============================================  Gợi ý phụ kiện =============================================*/
.all_cross-sells .title {
    margin: 0 0 12px;
    border-bottom: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1f;
    width: 100%;
    text-align: left;
    line-height: 45px;
}



.container-cart_h1 {
    text-align: center;
    margin-bottom: 24px;
    color: red;
    font-weight: 600;
}



.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
