body {
    background-color: #F3F3F3;
}

.carts-detail {
    padding: 1rem;
    color: #333;
    border-radius: 5px;
    background-color: #fff;
}

tr,
th,
td {
    border-style: none;
    font-weight: 700;
    font-size: 15px;
    color: #1D1D1F !important;
    min-height: 0px;
    vertical-align: middle;
    text-align: center;
    padding: 12px !important;
}

.input-group>.form-control {
    flex: none !important;
}

a {
    font-weight: bold;
    color: #444 !important;
    text-decoration: none !important;
}

.fa-solid {
    cursor: pointer;
    font-size: 20px;
}

.detail-image {
    width: 100%;
    /* padding: 12px; */
}

.detail_img {
    width: 80px;
    height: 80px;
}

/*  */
.sidebar-cart {
    position: sticky !important;
    /* top: 72px; */
    margin: 0 -12px !important;
    background-color: #fff !important;
    border-radius: 5px;
}

input {
    background-color: #fff !important;
}

.cart-collaterals_detail {
    width: 100%;
    margin: 0;
    padding: 24px 0;
    font-size: 16px;
}

.discount-code {
    max-width: 100%;
    margin: 0;
    padding: 0 6px;
    justify-content: center;
}

.discount-code_input {
    width: 80% !important;
    line-height: 32px;
    font-size: 16px;
}

.discount-code_btn {
    width: 20%;
    line-height: 14px !important;
    font-size: 12px !important;
    top: 0;
    right: 0;
    line-height: 32px;
    font-size: 16px;
}

.checkout-button {
    width: 100% !important;
    border-radius: 8px;
    height: 44px;
    font-size: 14px;
    color: #fff !important;
    line-height: 30px !important;
}


/* =============================================  END =============================================*/


/* =============================================  slick-list =============================================*/
.slick-list {
    padding: 0 !important;
}

.slick-list_img {
    width: 100%;
    border-radius: 5px;
}

/* =============================================  END =============================================*/

/* =============================================  Thông tin thanh toán =============================================*/
.cart-totals {
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 0 16px 16px;
    display: inline-block;
}

.cart-total td:first-child {
    text-align: left;
}

.cart-total-left {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #86868B;
}

.cart-total-right {
    font-weight: bold !important;
    color: #1d1d1f;
    font-weight: 700;
}

.value-summary {
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1f;
}

.cart-total td {
    /* width: 50%; */
    padding: 5px 0;
    text-align: right;
}

.checkout-buttons {
    padding: 0 10px;
}

/* =============================================  Gợi ý phụ kiện =============================================*/
.all_cross-sells .title {
    margin: 0 0 12px;
    border-bottom: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1f;
    width: 100%;
    text-align: left;
    line-height: 45px;
}

.container-cart_h1 {
    text-align: center;
    margin-bottom: 24px;
    color: red;
    font-weight: 600;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.total__money {
    font-size: 16px;
    font-weight: 600;
}

.total-payment {
    flex: 3;
    border: none;
    text-align: end;
    padding: 3px 0;
    font-size: 16px;
    font-weight: 600;
}

.delivery_form__box {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.evt_cart_2_sli_ite_content {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100%;
    /* width: 350px; */
    display: flex;
}

.evt_cart_2_sli_ite_left {
    width: 82px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    background-color: transparent;
    padding: 8px;
    position: relative;
    text-align: center;
}
svg:not(:root) {
    overflow: hidden;
}

.evt_cart_2_icon_type {
    position: absolute;
    display: flex;
    height: 30px;
    width: 30px;
}

.evt_cart_2_sli_ite_right {
    flex: 1;
    padding: 20px 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.sli_ite_right_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ite_txt_right {
    color: #0D0E0F;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: calc(15px * 1 * 1.4);
    display: -webkit-box;
    max-width: 200px;
}

.ite_more_right {
    color: #2F80ED;
    font-size: 12px;
    cursor: pointer;
}
.sli_ite_right_content {
    display: block;
    display: -webkit-box;
    height: calc(12px * 2 * 1.4);
    /* margin: 0 auto; */
    font-size: 12px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #7A7E7F;
}

.btn-discount {
    width: 85px;
    padding: 4px 2px;
    background-color: #2F80Ed;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
