.form-control {
    border-radius: 2px !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

table,
thead,
tbody {
    overflow: hidden;
}

td,
th {
    max-width: 136px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
}

.status__order {
    display: flex;
}

.status__date {
    color: red;
}

.date__time__status {
    min-width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    transform: translateY(50%) translateX(-25%);
}

.status__hour {
    margin-bottom: 0;
}

.status__content {
    flex: 1;
    padding: 24px 24px;
    border: 1px solid #ebedf2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    line-height: 2;
    border-right: 4px solid red !important;
    border-radius: 13px;
    font-size: 14px;
    font-weight: 600;
}
