:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #02bbff;
}
* {
    box-sizing: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
