.container {
    width: 100%;
}
.header {
    background-color: #02bbff;
    height: 20%;
    width: 100%;
    display: table;
    /* position: fixed; */
    /* width: 100%; */
    /* top: 0; */
}
.header-with-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
}
.header__logo a img {
    width: 80%;
    height: 80%;
}
.header__search {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 55%;
}
.header__search input[type='text'] {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--white-color);
    border-right: unset;
    height: 100%;
    transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
    vertical-align: middle;
    appearance: none;
    position: relative;
    outline: unset;
    font-size: 1.2vw;
}
.header__search input[type='search']:focus-visible {
    outline: unset;
}
.product__search-cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.search-cart {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    padding: 0.5rem;
}
.search-cart > .product-image {
    margin-bottom: 0.25rem;
}
.search-cart > .product-name {
    font-size: 0.8rem;
    color: var(--text-color);
}
.hide {
    display: none;
}
.header__search button {
    width: 10%;
    border: 1px solid var(--white-color);
    border-left: unset;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--white-color);
}
.header__register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    /* justify-content: space-between; */
}
.header__register-item {
    display: flex;
    align-items: center;
}
.header__register-item .register__icon a i {
    font-size: 1.3vw;
    margin-right: 15px;
    align-self: center;
    color: var(--white-color);
}
.register__icon {
    position: relative;
}
.register__icon:hover .register__title {
    display: block;
    position: absolute;
    background-color: var(--white-color);
}
.register__title {
    display: none;
    border-radius: 10px;
    width: 7.2vw;
    margin: 0 auto;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
}
.register__title a {
    text-align: center;
}
.register__title a p {
    line-height: 1.24vw;
    font-size: 0.84vw;
    color: var(--main-color);
    font-weight: 400;
    /* padding: 20px; */
    text-align: center;

    width: 80%;
}
.header__cart-item {
    align-self: center;
}
.cart__icon a {
    display: flex;
    align-items: center;
}
.cart__icon p {
    background-color: #ff0000;
    width: 1.17vw;
    height: 1.17vw;
    border-radius: 50%;
    text-align: center;
    color: var(--white-color);
}
.cart__icon .fa-cart-shopping {
    font-size: 1.3vw;
    color: var(--white-color);
}
.cart__icon {
    position: relative;
}

.header-with-menu {
    text-align: center;
}
.header-with-menu ul li {
    display: inline-block;
    padding: 10px;
}
.header-with-menu ul li a {
    font-size: 1vw;
    line-height: 0.95vw;
    font-weight: 700;
    color: var(--white-color);
}
.header-with-menu ul li:hover {
    transition: all 0.5s;
    background-color: var(--white-color);
    border-radius: 5px;
}
.header-with-menu ul li:hover a,
.menu-child li:hover {
    color: var(--main-color);
}
.header-with-menu ul .menu-slected a {
    color: red;
}
.menu-child ul {
    display: none;
    /* padding: 5px; */
    position: absolute;
    min-width: 350px;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.menu-child:hover ul,
.menu-child ul li {
    display: block;
}
.menu-child ul li:hover {
    background-color: var(--main-color);
}
.menu-child ul li:hover a {
    color: var(--white-color);
}

.footer {
    width: 100%;
    margin-top: 1.25rem;
}
.row-footer-mangtrithuc {
    background-color: var(--main-color);
    text-align: center;
    color: var(--white-color);
    padding: 2.25rem;
    font-size: 1.24vw;
    font-weight: bold;
    text-transform: uppercase;
}
.row-footer-mangtrithuc a {
    color: var(--white-color);
}
.row-footer {
    margin: 10px;
}
.row,
.third {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.third {
    flex: 1;
}
.item__footer ul li {
    display: flex;
    flex-direction: column;
    padding: 5px;
    list-style: none;
    font-size: 1vw;
    line-height: 1.46vw;
}
.item__footer-title {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.46vw;
    /* color: var(--text-color); */
}
.row-second {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.item__footer ul li a {
    color: var(--text-color);
}

.row-footer-title {
    margin-left: 1.3vw;
}
.row-footer-title h2 {
    font-size: 1.17vw;
    line-height: 1.54vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1.24vw;
    margin-bottom: 0.73vw;

    color: var(--text-color);
}
.row-second .item__footer h3 {
    color: #ffac29;
    font-size: 1.1vw;
    line-height: 0.95vw;
    font-weight: 700;
}
.row-second .item__footer a,
p {
    font-size: 0.96vw;
    line-height: initial;
    font-style: initial;
    text-align: justify;
    font-weight: 400;
    margin-top: 0.87vw;
}
.item__footer .center li {
    display: inline-block;
}
.item__footer img {
    width: 100%;
    height: 100%;
}
.border {
    margin-top: 20px;
    border-top: 1px solid var(--main-color);
}

.slider {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 100%;
    height: 100%;
}
.navigation-manual {
    position: absolute;
    width: 80%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: var(--main-color);
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--main-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--main-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--main-color);
}
.home-title {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 3.6vw;
}
.home-title div:not(:last-child) {
    margin-right: 10px;
}
.home-title .title-icon {
    font-size: 3.2vw;
    color: #ec4545;
}
.home-title .title-text {
    font-size: 1.8vw;
    width: 16.4vw;
}
.home-title .title-border {
    border: 8px solid #f7f7f7;
    width: 100%;
}
#slider {
    margin-top: 24px;
    margin-bottom: 24px;
    overflow-y: hidden;
    width: 100%;
    padding: 6px;
}

#slider::-webkit-scrollbar {
    width: 0 !important;
    display: none;
    display: none;
}
.product {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 17%);
    gap: 18px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6px;
}
.product .item-child:hover {
    /* width: 100%; */
    cursor: pointer;
}
.ctr-btn.pre {
    left: 0;
}
.ctr-btn.next {
    right: 0;
}
#slider #slide {
    display: flex;
    /* position: absolute; */
    left: 0;
    transition: 0.3s left ease-in-out;
    align-items: center;
    justify-content: space-between;
}
#slider #slide:not(:last-child) {
    margin-right: 100px;
}
.item-body {
    display: flex;
    justify-items: center;
    /* grid-template-rows: 60%; */
    align-items: center;
    gap: 0 18px;
    width: 100%;
}
.ctr-btn {
    display: none;
    font-size: 1vw;
    padding: 20px 20px;
    min-width: 50px;
    background: var(--black-color);
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    color: var(--white-color);
    border-radius: 100%;
}
.fa-chevron-right {
    right: 0;
}
.fa-chevron-left {
    left: 0;
}
.item-child {
    text-align: center;
    padding: 12px 10px;
    min-width: 17% !important;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #f1e6e6;
}
.item-img img {
    width: 100%;
    height: 19.69vw;
}
.item-child .item-title div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 6%;
    padding: 12px 0;
}
.item-name h4 {
    font-size: 1.4vw;
}
.item-author a {
    font-size: 1vw;
    color: var(--main-color);
}
.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin-bottom: 16px;
}
.discount span {
    color: grey;
    font-size: 0.8vw;
    margin-right: 5px;
    text-decoration: line-through;
}
.discount p {
    margin-top: 0;
    font-size: 0.9vw;
    margin-right: 20px;
}
.item-child .item-button button {
    display: none;
    position: absolute;
    bottom: 2%;
    left: 25%;
    cursor: pointer;
    text-align: center;
}
.item-child:hover .item-button button {
    display: block;
}
.item-child .item-button button {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    font-size: 0.8vw;
}
.item-child .item-button button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
    /* border: var(---color); */
}
.item-child:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s;
    cursor: pointer;
}
.item-child {
    position: relative;
}
.sale {
    background-image: url(https://book365.vn/bitrix/templates/book365-2021/images/background_sale_ebook.png);
    background-repeat: no-repeat;
    width: 2.93vw;
    padding-top: 1.39vw;
    font-size: 1.1vw;
    line-height: 0.59vw;
    color: #ff0000;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    right: 2%;
    background-size: contain !important;
    top: 2%;
    height: 3.44vw;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.banner {
    text-align: center;
    margin: 20px;
}
.banner img {
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 55%;
    border-radius: 5px;
}
.wrapper .search-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--white-color);
    border-right: unset;
    height: 100%;
    transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
    vertical-align: middle;
    appearance: none;
    position: relative;
    outline: unset;
}
.search-input input {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.search-input.active input {
    border-radius: 5px;
}
.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    margin-top: 5px;
    border-radius: 5px;
    width: 95%;
    background-color: var(--white-color);
}
.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 5px;
    font-size: 1vw;
}
.search-input.active .autocom-box li {
    display: block;
}
.autocom-box li:hover {
    background: #efefef;
}
.search-input .icon {
    position: absolute;
    right: 1%;
    top: 0px;
    /* height: 55px;
    width: 55px; */
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    color: #644bff;
    cursor: pointer;
}
.cart-modal-overlay {
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 2; */
    /* transform: translateX(-200%); */
    transition: 0.5s ease-out;
}
.cart-modal {
    position: absolute;
    /* height: 100vh; */
    right: 0;
    top: 15%;
    width: 20%;
    background-color: var(--white-color);
    /* float: right; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px 15px;
}

#close-btn {
    font-size: 1.5rem;
    float: right;
    margin: 0.5em 2em 0.5em 0;
    color: var(--main-color);
    cursor: pointer;
    /* display: none; */
}

.cart-is-empty {
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
}
.product-row span {
    min-width: 15%;
}
.total {
    /* text-align: center; */
    /* margin: 2em 0 2em 0; */
    display: flex;

    align-items: center;
    /*   display: none; */
}

.cart-total {
    color: var(--main-color);
    margin: 20px 5%;
}

.total-price {
    color: var(--main-color);
    font-size: 1.8rem;
    /* display: block; */
}

.purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
}
.product-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* margin-top: 10px; */
    background-color: var(--main-color);
    margin: 10px auto;
    border-radius: 10px;
    padding: 0 12px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}
.product-row div:not(:last-child) {
    margin-right: 10px;
}
.cart-image {
    width: 50px;
    height: 50px;
}
.cart-price,
.cart-name,
.cart-sale,
.cart-author {
    color: var(--white-color);
    font-size: 1.2rem;
}
.product-quantity {
    width: 4vw;
    height: 2vw;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.purchase-btn,
.remove-btn {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    /* width: 15%; */
    font-size: 1.2rem;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
}
.purchase-btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}
#myBtn:hover {
    cursor: pointer;
}
.wrapper {
    padding: 35px;
    position: relative;
    overflow-x: hidden;
    /* max-width: 1000px; */
    background: #fff;
    margin: 0 auto;
    border-radius: 13px;
}
.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
    width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
}
.icon i:hover {
    background: #efedfb;
}
.icon:first-child i {
    margin-left: 15px;
}
.icon:last-child i {
    margin-right: 15px;
}
.wrapper .tabs-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}
.tabs-box .tab {
    cursor: pointer;
    font-size: 1.18rem;
    white-space: nowrap;
    background: #f5f4fd;
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #d8d5f2;
}
.tabs-box .tab:hover {
    background: #efedfb;
}
.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}
.tabs-box .tab.active {
    color: #fff;
    background: #5372f0;
    border-color: transparent;
}
