.container {
  width: 100%;
}
.header {
  background-color: #02bbff;
  padding: 6px 12px;
  height: 148px;
  width: 100%;
  display: table;
  position: fixed;
  top: 0;
}
.header-with-search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  width: 15%;
}

.header__logo a img {
  width: 100%;
  height: 62px;
}
.header__search {
  display: flex;
  align-items: center;
  height: 4rem;
}
.header__search input[type="text"] {
  width: 55.625rem;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid var(--white-color);
  border-right: unset;
  height: 100%;
}
.header__search input[type="text"]:focus-visible {
  outline: unset;
}
.header__search button {
  width: 4.125rem;
  border: 1px solid var(--white-color);
  border-left: unset;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--white-color);
}
.header__register {
  display: flex;
  justify-content: center;
  width: 200px;
  justify-content: space-between;
}
.header__register-item {
  display: flex;
  align-items: center;
}
.header__register-item .register__icon a i {
  font-size: 20px;
  margin-right: 15px;
  align-self: center;
  color: var(--white-color);
}
.register__title a p {
  line-height: 1.24vw;
  font-size: 0.84vw;
  color: var(--white-color);
  font-weight: 400;
}
.header__cart-item {
  align-self: center;
}
.header-with-menu {
  text-align: center;
}
.header-with-menu ul li {
  display: inline-block;
  padding: 10px;
}
.header-with-menu ul li a {
  font-size: 1vw;
  line-height: 0.95vw;
  font-weight: 700;
  color: var(--white-color);
}
.header-with-menu ul li:hover {
  transition: all 0.5s;
  background-color: var(--white-color);
  border-radius: 5px;
}
.header-with-menu ul li:hover a,
.menu-child:hover ul li:hover a {
  color: var(--main-color);
}
.header-with-menu ul .menu-slected a {
  color: red;
}
.menu-child ul {
  display: none;
  padding: 5px;
  position: absolute;
  min-width: 350px;
  margin-top: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.menu-child:hover ul {
  display: block;
}
.menu-child:hover ul li {
  display: block;
}
.menu-child:hover ul li a {
  color: var(--white-color);
}
.footer {
  width: 100%;
  margin-top: 1.25rem;
}
.row-footer-mangtrithuc {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white-color);
  padding: 2.25rem;
  font-size: 1.24vw;
  font-weight: bold;
  text-transform: uppercase;
}
.row-footer-mangtrithuc a {
  color: var(--white-color);
}
.row-footer {
  margin: 5px 0;
}
.row,
.third {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.third {
  flex: 1;
}
.item__footer ul li {
  display: flex;
  flex-direction: column;
  padding: 5px;
  list-style: none;
  font-size: 1vw;
  line-height: 1.46vw;
}
.item__footer-title {
  font-weight: bold;
  font-size: 1vw;
  line-height: 1.46vw;
  /* color: var(--text-color); */
}
.row-second {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.item__footer ul li a {
  color: var(--text-color);
}

.row-footer-title {
  margin-left: 1.3vw;
}
.row-footer-title h2 {
  font-size: 1.17vw;
  line-height: 1.54vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.24vw;
  margin-bottom: 0.73vw;

  color: var(--text-color);
}
.row-second .item__footer h3 {
  color: #ffac29;
  font-size: 1.1vw;
  line-height: 0.95vw;
  font-weight: 700;
}
.row-second .item__footer a,
p {
  font-size: 0.96vw;
  line-height: initial;
  font-style: initial;
  text-align: justify;
  font-weight: 400;
  margin-top: 0.87vw;
}
.item__footer .center li {
  display: inline-block;
}
.row-footer:nth-child(5) {
  border-top: 1px solid var(--main-color);
}
