* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container-fuild {
  width: 100%;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  line-height: 50px;
}
/* .category */
.container form{
  width: 430px;
}
.container .category-title{
  padding-left: 13.2px;
  color: #007bff;
  font-size: 19px;
  line-height: 1.24vw;
  font-weight: 400;
  margin-bottom: 1.06vw;
  margin-top: 1.52vw;
}
.container .category-box{
  margin-left: 1.32vw;
  padding-left: 11.7px;
  width: 82.5%;
  border-radius: 0px;
  padding-bottom: 0.25vw;
  margin-bottom: 0.84vw;
  
}

.category-box .category-box_search{
  position: relative;
}
.category-box .category-box_icon{
  position: absolute;
  bottom: 2px;
  right: 0px;
  font-size: 20px;
  color: #9a9a9a;

}
.category-box .category-box_search input{
    outline: none;
    padding: 0px;
    border-radius: 0px;
    font-size: 25px;
    color: #9a9a9a;
    font-weight: 400;
    border: 0px;
    box-shadow: none;
    height: 100%;
    text-align: left;
    padding-left: 4px;
    
}


.category-box .category-box_line{
  border-bottom: 1px solid #9a9a9a;;
  margin-top: 12px;
} 
.category-box .category-box_select select{
  outline: none;
  padding: 0px;
  border-radius: 0px;
  font-size: 25px;
  line-height: 1.24vw;
  color: #9a9a9a;
  font-weight: 400;
  border: 0px;
  box-shadow: none;
  height: 100%;
  text-align: left;
  width: 270px;
}

/* category-product */
.category-list{
  width: 259.48px;
  padding-left: 37px;
  cursor: pointer;
  margin-top: 35px;

}
.category-product-img {
  width: 100%;
  overflow: hidden;
}
.category-product-img:hover .image {
  transform: scale(1.1);
}
.category-title {
  margin-top: 12px;
}

.category-name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: block;
}
.category-name:hover {
  color: red;
}

.category-author {
  margin-top: 12px;
  font-size: 18px;
  color: #0066ff;
  font-weight: 600;
  text-align: center;
  display: block;
}
.category-author:hover {
  color: red;
}

.category-price {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category-price__reduced {
  margin-top: 0 !important;
  font-size: 18px;
  font-weight: 600;
}

.category-price__original {
  font-size: 15px;
  font-weight: 600;
  color: red;
}



/* end-category */



/* Products List */

.product-list {
  display: flex;
  gap: 24px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
}

.product {
  width: 22%;
  padding: 24px 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  border-radius: 5px;
}

.product-img {
  width: 100%;
  overflow: hidden;
}

.image {
  border-radius: 5px;
  height: 300px;
}

.product-img:hover .image {
  transform: scale(1.1);
}

.product-title {
  margin-top: 12px;
}

.product-name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: block;
}

.product-name:hover {
  color: red;
}

.product-author {
  margin-top: 12px;
  font-size: 18px;
  color: #0066ff;
  font-weight: 600;
  text-align: center;
  display: block;
}
.product-author:hover {
  color: red;
}

.product-price {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-price__reduced {
  margin-top: 0 !important;
  font-size: 18px;
  font-weight: 600;
}

.product-price__original {
  font-size: 15px;
  font-weight: 600;
  color: red;
}
