*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
}

body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

.fullscreen-container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100vw;
   background: linear-gradient(53deg, rgba(25, 191, 203, 1) 6%, rgba(188, 81, 218, 1) 61%);

}

.login-container {
   width: 50%;
   max-width: 400px;
   min-width: 250px;
   padding: 50px 25px 20px;
   background: white;
   border-radius: 10px;
}

.register-container {
   width: 40%;
   min-width: 250px;
   padding: 50px 25px 20px;
   background: white;
   border-radius: 10px;
}

.header {
   text-align: center;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-top: 5px;
}

.input-group {
   display: flex;
   flex-direction: column;
   gap: 4px;
   font-size: .8rem;
}

.input-group input {
   font-size: .9rem;
   padding: 10px 10px 5px 10px;
   border: none;
   outline: none;
   border-bottom: 2px solid hsl(0, 0%, 83%);
}

.input-group input:focus {
   box-shadow: none;
   border-bottom: 2px solid hsl(0, 0%, 83%, 0%);
}

.grid-container {
   display: grid;
   grid-template-columns: auto auto;
}

.button {
   margin: 15px 0;
   padding: 10px 0;
   border-radius: 25px;
   border: none;
   outline: none;
   cursor: pointer;
   background: linear-gradient(53deg, rgba(25, 191, 203, 1) 6%, rgba(188, 81, 218, 1) 73%);
   color: white;
   font-size: 1rem;
}

.button:focus {
   box-shadow: none;
}

.forgotpass {
   text-align: center;
   font-weight: 200;
   font-size: .9rem;
   margin-top: 1px;
   text-decoration-line: none;
}

.forgotpass a {
   text-decoration-line: none;
   color: black;

}

.forgotpass a:hover {
   color: rgba(25, 191, 203, 1);

}

.signup-header {
   text-align: center;
   font-weight: 200;
   font-size: .9rem;
   margin-top: 10px;
   text-decoration-line: none;
}

.signup-header a {
   text-decoration-line: none;
   color: black;

}

.signup-header a:hover {
   color: rgba(25, 191, 203, 1);

}

.social-icons {
   margin-top: 15px;
}

.social-list {
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.social-links {
   text-decoration: none;
}

.fa-brands {
   font-size: 1.75rem;
}

.fa-facebook {
   border-radius: 50%;
   background: white;
   color: #435892;
}

.fa-twitter {
   border-radius: 50%;
   padding: px;
   color: #4AA0E8;
   background-color: white;
}

.fa-google {
   color: #D64E44;
}

label {
   font-size: 14px;
   font-weight: 500;
}